doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Bienes Raíces
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="StyleHome.css")
    script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")

  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href="#") BienesRaíces
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="#") Inicio
            li.nav-item
              a.nav-link.text-white(href="/Usuarios/Registro", class="enlace")
                i.fas.fa-info-circle.mr-1
                | Login
            li.nav-item
              a.nav-link(href="#") Propiedades
            li.nav-item
              a.nav-link(href="#") Lotes
            li.nav-item
              a.nav-link.text-white(href="/Notas/altatiket", class="enlace")
                i.fas.fa-info-circle.mr-1
                | Contactanos

    // Hero Section
    .hero
      .hero-overlay
      .container.position-relative.text-center
        h1 Encuentra tu hogar ideal
        p Las mejores propiedades al mejor precio

    // Listado de propiedades
    .container.mt-5
      h2.text-center.mb-4 Propiedades en venta

      if casas && casas.length > 0
        .row.row-cols-1.row-cols-md-3.g-4
          each casa in casas
            .col
              .card.shadow-sm
                if casa.ImagenBase64
                  img.card-img-top(
                    src=`data:image/jpeg;base64,${casa.ImagenBase64}`
                    alt="Imagen de la casa"
                    style="height: 220px; object-fit: cover;"
                  )
                else
                  img.card-img-top(src="/img/no-image.jpg", alt="Sin imagen")

                .card-body
                  h5.card-title= casa.Direccion
                  p.card-text #{casa.Ciudad}, #{casa.Pais}
                  p.card-text
                    strong Precio:
                    |  $#{casa.Precio}

                  a.btn.btn-primary(href=`/Casa/Detalle/${casa.idCasaVenta}`) Ver más
      else
        p.text-center No hay propiedades en venta por el momento.

    // Footer
    footer.mt-5
      p © 2025 Bienes Raíces - Todos los derechos reservados

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
